<div class="container mt-5 px-3">
  <div class="row">
    {% assign sorted_projects = site.projects | sort: "order" %}
    {% for project in sorted_projects %}
      <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-4">
        {%- assign project_type  = "local" -%}
        {%- assign project_id    = project.name | slugify -%}
        {%- assign project_img   = project.image -%}
        {%- assign project_name  = project.name -%}
        {%- assign project_desc  = project.description -%}
        {%- assign project_tools = project.tools -%}

        {%- if project.external_url -%}
          {%- assign project_url = project.external_url -%}
          {%- assign external    = true -%}
        {%- else -%}
          {%- assign project_url = project.url | relative_url -%}
          {%- assign external    = false -%}
        {%- endif -%}

        {% include projects/project-card.html %}
      </div>
    {% endfor %}
  </div>
</div>
