<footer class="footer">

  <data href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-column-wrapper">

      <!-- Column 1-->
      <div class="footer-column footer-column-1">
        <ul class="contact-list">
          <li>
            <b> {{ site.title | escape }} </b>
          </li>
          <li>
            <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          </ul>
      </div>

      <!-- Column 2-->
      <div class="footer-column footer-column-2">
        <ul class="social-media-list">
          <li>
            <a href="https://github.com/{{ site.github_username| cgi_escape | escape }}">
              <svg class="svg-icon">
                <use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use>
              </svg>
              <span class="username">{{ site.github_username| escape }}</span></a>
            </li>

          <li>
            <a href="https://www.twitter.com/{{ site.twitter_username| cgi_escape | escape }}">
              <svg class="svg-icon">
                <use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}">
                </use>
              </svg>
              <span class="username">{{ site.twitter_username| escape }}</span>
            </a>
          </li>
        </ul>
      </div>

      <!-- Column 3-->
      <div class="footer-column footer-column-3">
        {{- site.address_l1 | escape -}}<p>
        {{- site.address_l2 | escape -}}<br>
        {{- site.address_l3 | escape -}}
      </div>

    </div>

  </div>

</footer>
