// Footer

.footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-column-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-column {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-column-1 {
    width: -webkit-calc(33% - (#{$spacing-unit} / 2));
    width:         calc(33% - (#{$spacing-unit} / 2));
}

.footer-column-2 {
    width: -webkit-calc(34% - (#{$spacing-unit} / 2));
    width:         calc(34% - (#{$spacing-unit} / 2));
}

.footer-column-3 {
    width: -webkit-calc(33% - (#{$spacing-unit} / 2));
    width:         calc(33% - (#{$spacing-unit} / 2));
}

.contact-list{
    list-style: none;
    margin-left: 0;
}