@charset "utf-8";

// Define defaults for each variable.
$base-font-family: 'Helvetica', sans-serif;
$base-font-size:   .95em;
$base-line-height: 1.5;
$small-font-size:  $base-font-size * 0.875;
$spacing-unit:     30px;

// Colors
$text-color:       #3A3A3C;
$background-color: #fdfdfd;

$link-color:       #78916c; // Color for the links
$grey-color:       #828282;
$link-hover-color: lighten($grey-color, 10%);
$title-color:      #1f0907;
$umass-grey:       #63666a;
$umass-red:        #000000;

$grey-color-light: lighten($grey-color, 10%);
$grey-color-dark:   darken($grey-color, 25%);


// Width of the content area
$content-width:    950px;
$on-palm:          600px;
$on-laptop:        950px;
$hover-color:      #c4c4c4;

// Devices
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials
@import
  "nqo2/base",
  "nqo2/layout",
  "nqo2/syntax-highlighting",
  "nqo2/fancy-image",
  "nqo2/header"
;
